version: "3.9"

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: imageapp
      POSTGRES_PASSWORD: password
      POSTGRES_DB: imageapp
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8090:8080"

  api:
    build: ./api
    restart: always
    depends_on:
      - db
    ports:
      - "3001:3001"
    volumes:
      - ./storage:/usr/src/app/storage
      - ./api:/usr/src/app
      - /usr/src/app/node_modules

volumes:
  db_data:
